:root {
  --heading-font: "Unbounded", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --page-boundary: 1400px;
  --primary-color: rgb(199, 16, 190);
  --primary-color-dark: rgb(18, 1, 17);
  --background-color: aliceblue;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: var(--body-font);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  padding: 1rem;
  height: 100%;
  margin: 0;
}

a {
  color: navy;
  text-decoration: none;
}

a:visited {
  color: navy;
}

h1,
h2 {
  font-family: var(--heading-font);
  margin: 2rem 0;
}

h2 {
  font-size: 1.1rem;
}

p {
  margin: 1rem 0;
}

.movie h2 {
  text-align: center;
}

.logo {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

/* 
prevent click on button content by removing pointer events on sub elements
Ref: https://css-tricks.com/slightly-careful-sub-elements-clickable-things/
*/
button > * {
  pointer-events: none;
}

header {
  max-width: var(--page-boundary);
  margin: 0 auto;
  position: relative;
}

.menu {
  opacity: 0;
  position: fixed;
  top: 10px;
  right: -100px;
  width: 0;
  height: 50vh;
  background-color: var(--primary-color);
  border-radius: 15px 0 0 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  z-index: 2;
  transition: all 0.5s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.menu.displayed {
  width: 100%;
  opacity: 1;
  transform: translateX(-90px);
}

.backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.459);
  animation: show-backdrop 0.5s forwards;
}

@keyframes show-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  padding: 0 2rem;
}

.menu li {
  font-size: 1.5rem;
  font-weight: 700;
}

.menu__link {
  font-family: var(--heading-font);
  text-decoration: none;
  color: var(--primary-color-dark);
}

.menu__link:hover {
  color: rgb(37, 31, 31);
}

.hamburger-button {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border-style: none;
  width: 3.5rem;
  height: 3.5rem;
  margin: 2rem;
  cursor: pointer;
  padding: 0.3rem;
}

.hamburger-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  animation: spin180 0.3s ease-out;
}

.hamburger-button:not(:hover) {
  animation: spin180back 0.1s linear forwards;
}

.hamburger {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  text-align: center;
}

.hamburger-line-1,
.hamburger-line-2,
.hamburger-line-3 {
  height: 0.7rem;
  background-color: #000;
  padding: 0.2rem;
}

.hamburger-line-1,
.hamburger-line-3 {
  width: 100%;
}

.hamburger-line-2 {
  width: 80%;
}

.close-line-2 {
  display: none;
  transition: all 0.5s ease-in-out;
}

.close-line-1 {
  transform: rotate(45deg);
  transform-origin: 10% 30%;
  transition: all 0.5s ease-in-out;
}

.close-line-3 {
  transform: rotate(-45deg);
  transform-origin: 20% 60%;
  transition: all 0.5s ease-in-out;
}

.pageDescription {
  margin-bottom: 3rem;
  max-width: 70%;
}

.container {
  max-width: var(--page-boundary);
  margin: 0 auto;
}

.movieList {
  display: flex;
  background-color: var(--background-color);
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 234, 234);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 15px 15px;
  color: #000;
  position: relative;
  min-height: 700px;
  max-width: 350px;
  margin-bottom: 1rem;
  transition: all 500ms ease-out;
}

.card a.link::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
}

.card:hover {
  box-shadow: 0 0 40px navy;
}

.movie__image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.rating {
  background-color: green;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.rank {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0 0 0 15px;
}

.loadingContainer {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}

.loadingContainer span {
  color: rgb(127, 127, 127);
}

.loader {
  border: 16px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background-color: #000000;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 0.5s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  background-color: rgb(212, 54, 54);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.hide {
  display: none;
}

@keyframes spin180 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    transform: rotate(180deg);
  }
}

@keyframes spin180back {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.movieDetails {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.movieProperties {
  top: 1.5rem;
  left: 0;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
  border-radius: 10px;
  width: 100%;
}

.moviePoster {
  width: 100%;
  max-width: 400px;
  left: 0;
  top: -10px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.movieDescription {
  max-width: 600px;
  line-height: 1.5rem;
}

.youtube {
  display: block;
  background: #000;
  border: none;
  height: 200px;
  width: 100%;
  max-width: 1000px;
}

.save-button {
  border: none;
  background-color: transparent;
  color: green;
  cursor: pointer;
}

.save-button:hover {
  color: rgb(1, 52, 1);
}

.form-container {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  background-color: aliceblue;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-control label {
  display: block;
}

.bold,
.focus {
  color: blue;
  font-weight: 900;
}

.focus ~ input {
  outline: none !important;
  box-shadow: 0 0 20px rgba(148, 148, 148, 0.5);
}

.form-control input {
  padding: 0.5rem;
  border-radius: 10px;
  border: solid #7b7b7b 0.1px;
  background-color: #fff;
}

.form-button {
  padding: 0.5rem 1rem;
  display: inline;
  width: fit-content;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.contact-errors {
  display: none;
  margin-top: 2rem;
  padding: 1rem;
  border: solid red;
  border-color: red;
  color: red;
}

.contact-success {
  display: none;
  margin-top: 2rem;
  padding: 2rem;
  background-color: green;
  color: #fff;
}

.show {
  display: block;
}

.controllers {
  padding: 1rem 0;
}

.genre-select {
  padding: 0.2rem 1rem;
  background-color: transparent;
  border: solid 1px #bbbbbb;
  border-radius: 5px;
}

.genre-select-button {
  padding: 0.2rem 1rem;
  background-color: green;
  color: #fff;
  border: solid 1px #bbbbbb;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .movieProperties {
    padding: 1rem 1rem 1rem 400px;
    min-height: 620px;
  }
  .moviePoster {
    position: absolute;
  }
  .youtube {
    height: 350px;
  }
  h1 {
    font-size: 3rem;
  }

  .logo {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 600px) {
  .movieList {
    padding: 1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 500px) {
  .menu.displayed {
    width: 400px;
  }
}
