:root {
  --heading-font: "Unbounded", sans-serif;
  --logo-font: "Bree Serif", serif;
  --body-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --page-boundary: 1200px;
  --primary-color: #7e8092;
  --primary-color-darker: #c85816;
  --primary-color-dark: rgb(18, 1, 17);
  --primary-button-color: #e8537b;
  --primary-button-color-darker: #4b1a27;
  --dark-shade: #2f2541;
  --text-subtle: #656565;
  --background-color: #e2ebee;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--body-font);
  height: 100%;
  margin: 0;
}

a {
  color: navy;
  text-decoration: none;
}

a:visited {
  color: navy;
}

a.logo {
  font-family: var(--logo-font);
  font-size: 3rem;
  font-weight: 900;
  color: var(--dark-shade);
  margin-bottom: 1rem;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h1,
h2 {
  font-family: var(--heading-font);
  margin: 2rem 0;
}

h2 {
  font-size: clamp(0.875rem, 5vw, 0.9rem);
}

p {
  margin: 1rem 0;
}

.movie h2 {
  text-align: center;
}

/* 
prevent click on button content by removing pointer events on sub elements
Ref: https://css-tricks.com/slightly-careful-sub-elements-clickable-things/
*/
button > * {
  pointer-events: none;
}

header {
  max-width: var(--page-boundary);
  margin: 0 auto;
  position: relative;
  padding: 0 1rem;
}

.menu {
  opacity: 0;
  position: fixed;
  top: 10px;
  right: -100px;
  width: 0;
  height: 50vh;
  background-color: var(--primary-color);
  border-radius: 15px 0 0 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  z-index: 2;
  transition: all 0.5s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.menu.displayed {
  width: 100%;
  opacity: 1;
  transform: translateX(-90px);
}

.backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.459);
  animation: show-backdrop 0.5s forwards;
}

@keyframes show-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  padding: 0 2rem;
}

.menu li {
  font-size: 1.5rem;
  font-weight: 700;
}

.menu__link,
.menu__link:visited {
  font-family: var(--heading-font);
  text-decoration: none;
  color: #fff;
}

.menu__link:hover {
  color: rgb(37, 31, 31);
}

.hamburger-button {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border-style: none;
  width: 3.5rem;
  height: 3.5rem;
  margin: 2rem;
  cursor: pointer;
  padding: 0.3rem;
}

.hamburger-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  animation: spin180 0.3s ease-out;
}

.hamburger-button:not(:hover) {
  animation: spin180back 0.1s linear forwards;
}

.hamburger {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  text-align: center;
}

.hamburger-line-1,
.hamburger-line-2,
.hamburger-line-3 {
  height: 0.7rem;
  background-color: #000;
  padding: 0.2rem;
}

.hamburger-line-1,
.hamburger-line-3 {
  width: 100%;
}

.hamburger-line-2 {
  width: 80%;
}

.close-line-2 {
  display: none;
  transition: all 0.5s ease-in-out;
}

.close-line-1 {
  transform: rotate(45deg);
  transform-origin: 10% 30%;
  transition: all 0.5s ease-in-out;
}

.close-line-3 {
  transform: rotate(-45deg);
  transform-origin: 20% 60%;
  transition: all 0.5s ease-in-out;
}

.pageDescription {
  color: var(--text-subtle);
  margin-bottom: 3rem;
  max-width: 70%;
}

.container {
  max-width: var(--page-boundary);
  margin: 0 auto;
  padding: 0 1rem;
}

.movieList {
  display: block;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 1rem;
  gap: 2rem;
  margin: 0 -1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #faf5f6;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 15px 15px;
  color: #000;
  position: relative;
  min-height: 600px;
  margin-bottom: 1rem;
  transition: all 500ms ease-out;
  padding-bottom: 1rem;
}

.card a.link::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
}

.card .link span {
  visibility: hidden;
}

.card:hover {
  box-shadow: 0 0 40px #fff;
  background-color: #fff;
}

.card:hover > .movie__image {
  transform: scale(101%);
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.movie__image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  transition: all 200ms ease-in-out;
}

.rating {
  background-color: var(--dark-shade);
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.rank {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0 0 25px 0;
}

.loadingContainer {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}

.loadingContainer span {
  color: rgb(127, 127, 127);
}

.loader {
  border: 16px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background-color: #000000;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 0.5s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  background-color: rgb(212, 54, 54);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.hide {
  display: none;
}

@keyframes spin180 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    transform: rotate(180deg);
  }
}

@keyframes spin180back {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.movieDetails {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.movieProperties {
  top: 1.5rem;
  left: 0;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
}

.moviePoster {
  width: 100%;
  max-width: 400px;
  left: 0;
  top: -10px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.movieDescription {
  max-width: 600px;
  line-height: 1.5rem;
}

.youtube {
  display: block;
  background: #000;
  border: none;
  height: 250px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.save-button {
  border: none;
  background-color: transparent;
  color: var(--primary-button-color);
  cursor: pointer;
}

.save-button:hover {
  color: rgb(1, 52, 1);
}

.form-container {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--background-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-control label {
  display: flex;
  justify-content: space-between;
}

.bold,
.focus {
  color: var(--primary-color);
  font-weight: 900;
}

.focus ~ input {
  outline: none !important;
  box-shadow: 0 0 20px rgba(148, 148, 148, 0.5);
}

.form-control input {
  padding: 0.5rem;
  border-radius: 10px;
  border: solid #7b7b7b 0.1px;
  background-color: #fff;
}

.form-button {
  padding: 0.5rem 1.5rem;
  display: inline;
  width: fit-content;
  background-color: var(--primary-button-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contact-errors {
  display: none;
  margin-top: 2rem;
  padding: 1rem;
  border: solid red;
  border-color: red;
  color: red;
}

.contact-message {
  display: none;
  margin: 2rem 0;
  font-weight: bold;
  max-width: 500px;
}

.contact-message__success,
.contact-message__error {
  font-size: 0.875rem;
  padding: 1rem;
  border-radius: 5px;
}

.contact-message__success {
  border: green solid 1px;
  color: green;
}

.contact-message__error {
  border: red solid 1px;
  color: red;
}

.validate-error {
  color: red;
  font-weight: 900;
  font-size: 0.7rem;
}

.show {
  display: block;
}

.controllers {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.genre-select {
  padding: 0.6rem 1rem;
  background-color: transparent;
  border: solid 1px var(--primary-button-color);
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

.genre-select-button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-button-color);
  color: #fff;
  border: solid 1px var(--primary-button-color);
  border-left: 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.genre-select-button:hover {
  background-color: var(--primary-button-color-darker);
}

@media screen and (min-width: 1400px) {
  .hamburger-button {
    right: 5vw;
  }
}

@media screen and (min-width: 768px) {
  .movieList {
    margin: 0 -0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    width: 100%;
    max-width: 100%;
  }

  .movieProperties {
    margin: 0 1rem 0 1rem;
    padding: 1rem 1rem 1rem 425px;
    min-height: 620px;
  }
  .moviePoster {
    position: absolute;
  }
  .youtube {
    height: 450px;
  }
  /* h1 {
    font-size: 3rem;
  } */
  .form {
    width: 50%;
  }
  /* a.logo {
    font-size: 3rem;
  } */
}

@media screen and (min-width: 600px) {
  .movieList {
    padding: 1rem;
  }
  /* h1 {
    font-size: 2.5rem;
  } */
}

@media screen and (min-width: 500px) {
  .menu.displayed {
    width: 400px;
  }
}
